---
import { PAGE_DESC, PAGE_TITLE } from "@/var";
import ReactLayout from "../components/react-layout";
import SnowfallCanvas from "../components/SnowfallCanvas";
import "../styles/global.css";
import SeoHead, { type Props } from "./components/SeoHead.astro";

const {
    canonicalUrl,
    linkPreviewImage
} = Astro.props as Props;
---
<!DOCTYPE html>
<html lang="en">
  <SeoHead 
    title={PAGE_TITLE}
    description={PAGE_DESC}
    canonicalUrl={canonicalUrl}
    linkPreviewImage={linkPreviewImage}
  />

  <body>
    <ReactLayout client:load>
      <SnowfallCanvas client:load/>
        <slot />
    </ReactLayout>
  </body>
</html>
