---
import "../styles/global.css";
import ReactLayout from "../components/react-layout";
import SeoHead, { type Props } from "./components/SeoHead.astro";
import { PAGE_TITLE, PAGE_DESC } from "@/var";

const {
    canonicalUrl,
    linkPreviewImage
} = Astro.props as Props;
---
<!DOCTYPE html>
<html lang="en">
  <SeoHead 
    title={PAGE_TITLE}
    description={PAGE_DESC}
    canonicalUrl={canonicalUrl}
    linkPreviewImage={linkPreviewImage}
  />

  <body>
    <ReactLayout client:load>
      <slot />
    </ReactLayout>
  </body>
</html>
